/* POLICES */

@font-face {
    font-family: Oswald;
    src: url(polices/Oswald/Oswald.ttf);
}

@font-face {
    font-family: OpenSans;
    src: url(polices/OpenSans.ttf);
}


/* BLOCK */

:root {
    --CouleurDeBase: rgb(14, 4, 92);
    --CouleurDeBasetrans: rgb(14, 4, 92, 0.8);
    --CouleurBleu1: rgb(33, 4, 130);
    --CouleurBleu2: rgb(46, 5, 159);
    --CouleurRose: rgb(182, 83, 195);
    --CouleurViolet: rgb(67, 30, 108);
    --CouleurVioletClair: rgb(95, 36, 149);
    --CouleurVioletBlanc: rgb(226, 214, 236);
    --CouleurBleuGris: rgb(76, 71, 133);
    --CouleurBleuClair: rgb(132, 132, 176);
    --CouleurBleuCiel: rgb(95, 22, 224);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: var(--CouleurDeBase);
    min-height: 100vh;
    color: var(--CouleurVioletBlanc);
    font-family: 'Oswald';
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    background-color: var(--CouleurVioletBlanc);
}

body::-webkit-scrollbar-thumb {
    border-radius: 15px;
    background: linear-gradient(00deg, var(--CouleurRose), var(--CouleurDeBase));
}

header {
    background-image: url('pictures/backgroundHeader.jpg');
    background-size: cover;
    background-attachment: fixed;
    padding: 140px 0px;
    top: 0;
    height: auto;
}

nav {
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
}

footer {
    background-color: var(--CouleurDeBase);
    padding: 10px 0px
}

section {
    padding: 0px 0px 70px 0px;
}


/* TITRES */

header h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: white;
    font-size: 4.5em;
    font-family: 'Oswald';
    text-shadow: 3px 3px 3px black;
}

header p {
    font-size: 1.1em;
    color: white;
}

header h3 {
    font-size: 1.5em;
    font-size: 1.4em;
    text-shadow: 4px 4px 4px black;
}

h2 {
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Oswald';
}

h3 {
    color: white;
    font-family: 'Oswald';
}


/* AUTRES */

header p {
    font-size: 1.4em;
    text-shadow: 3px 3px 3px black;
}

p {
    font-family: 'Oswald';
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-family: 'Oswald';
}

header a:hover {
    color: var(--CouleurRose);
}

ul {
    margin-top: 0;
    display: flex;
    background-color: var( --CouleurDeBasetrans);
    height: 50px;
    justify-content: space-evenly;
    align-items: center;
}

li {
    list-style-type: none;
    flex-direction: row;
    margin-right: 20px;
}

.introduction {
    margin: auto;
    text-align: center;
    width: 80%;
    color: white;
}

section .gitlab {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    transform-style: preserve-3d;
    background-color: var(--CouleurBleu1);
    align-items: center;
    text-align: center;
}


/* Projets*/

section#projets h2 {
    display: block;
    width: 100%;
    padding: 50px 0px;
    margin: 0px;
}

section .gitlab .card {
    position: relative;
    width: 380px;
    height: 250px;
    margin: 20px;
    transform-style: preserve-3d;
    perspective: 1000px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 6px 11px 5px var(--CouleurDeBase);
}

section .gitlab .card:hover {
    transition: 1.5s;
    box-shadow: 10px 18px 10px var(--CouleurDeBase);
}

section .gitlab .card .box {
    /* position: absolute;
    top: 0;
    left: 0px; */
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: 1s ease;
}

section .gitlab .card:hover .box {
    transform: rotateY(180deg);
}

section .gitlab .card .box .imgBx {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
}

section .gitlab .card .box .imgBx img {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section .gitlab .card .box .contentBx {
    position: absolute;
    top: 0;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #333;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    transform-style: preserve-3d;
    transform: rotateY(180deg);
}

section .gitlab .card .box .contentBx div {
    transform-style: preserve-3d;
    padding: 20px;
    transform: translateZ(100px);
    background: linear-gradient(45deg, var(--CouleurVioletClair), var(--CouleurDeBase));
    width: 100%;
    height: 100%;
}

section .gitlab .card .box .contentBx div h2 {
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
}

section .gitlab .card .box .contentBx div p {
    color: #fff;
    font-size: 16px;
    font-size: 0.8em;
}


/* .imageProjet {
    width: 350px;
    margin: auto;
    height: 240px;
} */


/* .projet {
    width: 350px;
    height: auto;
    margin: 20px;
    height: 240px;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 5px 10px 3px var(--CouleurDeBase);
} */

a[class="projet"]:hover {
    transition: 0.3s;
    box-shadow: 10px 20px 10px var(--CouleurDeBase);
    transition: 0.4s;
}

#projets {
    background-color: var(--CouleurBleu1);
}

.lienGit {
    right: 0;
    top: 50%;
    position: fixed;
    background-color: rgba(15, 15, 15, 0.6);
    border-radius: 5px;
}

.copyright {
    color: var(--CouleurVioletBlanc);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald";
}


/*Frise chronologique*/

.timeline {
    display: block;
    width: fit-content;
    margin: auto;
}

.timeline-object {
    display: flex;
    align-items: center;
    margin-top: 50px;
    position: relative;
}

.timeline-object.complete::after {
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 140px;
    background-color: var(--CouleurRose);
    left: 23px;
    top: 50px;
    transform: translateX(-50%);
}

.timeline-status {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    background-color: var(--CouleurRose)
}

.timeline-object:not(.complete) .timeline-status {
    background: #ffffff;
    border: 4px solid #C5C5C5;
}

.timeline-content {
    margin-left: 15px;
}

.timeline-content h3 {
    color: var(--CouleurVioletClair);
    background-color: #CFF6CF;
    padding: 5px 15px;
    border-radius: 3px;
    margin-bottom: 10px;
    width: 300px;
}

.timeline-content span {
    font-size: .9em;
    font-weight: bold;
}

.timeline-object:not(.complete) .timeline-content h3 {
    color: #8A8A8A;
    background: #E1E1DF;
}

#boutonCV {
    border: black solid 2px;
    width: fit-content;
    padding: 10px;
    box-shadow: 5px 5px 5px black;
    margin: 20% auto;
    cursor: pointer;
}


/*PARCOURS*/

section#parcours h2 {
    margin: 0;
    padding: 50px 0px;
}

#parcours {
    /* background-color: var(--CouleurBleuCiel); */
    text-align: center
}


/*CONTACT*/

section#contact h2 {
    margin: 0;
    padding: 50px 0;
}

section#contact {
    justify-content: center;
    background-color: var(--CouleurBleu2);
    padding: 0 0 0 0;
}

section#contact .container {
    width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

section#contact .container .box {
    text-align: center;
}

section#contact .container .box .icon .fa {
    font-size: 60px;
    cursor: pointer;
}

section#contact .container .box .icon h3,
section#contact .container .box .icon h4 {
    position: relative;
    font-weight: 400;
    overflow: hidden;
    margin: 0;
    padding: 2px 5px;
    font-size: 24px;
    transition-delay: 0.333s;
    color: transparent;
}

section#contact .container .box .fa:hover~h3,
section#contact .container .box .fa:hover~h4 {
    color: var(--CouleurVioletBlanc);
}

section#contact .container .box .icon h4 {
    font-weight: 600;
    margin: 5px 0;
    font-style: 30px;
}

section#contact .container .box .icon h3:before,
section#contact .container .box .icon h4:before {
    content: '';
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: var( --CouleurBleuCiel);
    transition: 1s;
}

section#contact .container .box .icon h4:before {
    left: initial;
    right: 100%;
    background: var(--CouleurRose);
}

section#contact .container .box .fa:hover~h3:before {
    left: -100%;
}

section#contact .container .box .fa:hover~h4:before {
    left: initial;
    right: -100%;
}


/* RESPONSIVE */